@{ ViewData["Title"] = "ApplicationError";
    Layout = null; 
    
}

<style>
    h1 {
        text-align: center;        
        position: fixed;
        top: 20%;
        width: 100%;
        font-size: 60px;
        color: red;
        background: black;        
    }    
</style>

<div>
    <h1>
        Ooops, something went wrong.
        Please try again later.
    </h1>
    
</div>