@model IEnumerable<CarServiceListingViewModel>
@{
    ViewData["Title"] = "Dealer Car";
    ViewBag.AllowCarEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-centar">No do not any cars yet!</h2>
}

<partial name="_CarsPartial" model="@Model" />