@model AddCarFormServiceModel

@{ ViewData["Title"] = "Edit Car"; }

<h1 class="display-4 text-center"><i class="fas fa-plus" style="color: darkorange"></i>Edit Car</h1>

<partial name="_CarFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}