@using Microsoft.AspNetCore.Identity
@using CarBuyRentSystem.Infrastructure.Models

@inject SignInManager<CarUser> SignInManager
@inject UserManager<CarUser> UserManager
@inject IDealerService Dealers

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.GetId();

        var userIsDealer = Dealers.IsDealer(userId);

        var userIsAdmin = User.IsAdmin();

        if (userIsDealer)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="DealerCar">Dealer cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Add">Add Car</a>
            </li>
        }
        else if (!userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Dealers" asp-action="Create">Dealer Entry</a>
            </li>
        }
        else if (userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Cars" asp-action="Index">Administrator</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>