@model TotalUserCar

<h1 class="display-4 text-center"><i class="fas fa-hand-holding-usd" style="color: darkorange"></i> Administration</h1>
<br />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Total Users</th>
            <th scope="col">Total Dealers</th>
            <th scope="col">Total Cars</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>@Model.TotalUser</td>
            <td>@Model.TotalDealer</td>
            <td>@Model.TotalCar</td>
        </tr>
</table>
